.timeline {
      position: relative;
      margin: 2em 0;
      padding-left: 40px;
      border-left: 3px solid #5b3924;
    }
    .timeline-entry {
      position: relative;
      margin-bottom: 2em;
    }
    .timeline-entry-g::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 5px;
      width: 20px;
      height: 20px;
      background: url('../images/gionata-icon.png') no-repeat center center;
      background-size: cover;
      border-radius: 50%;
      border: 2px solid #5b3924;
    }
        .timeline-entry-w::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 5px;
      width: 20px;
      height: 20px;
      background: url('../images/walter-icon.png') no-repeat center center;
      background-size: cover;
      border-radius: 50%;
      border: 2px solid #5b3924;
    }
    .timeline-entry h3 {
      padding-left: 1em;
      margin: 0;
      font-size: 1.2em;
      color: #3e2f1c;
    }
    .timeline-entry time {
      padding-left: 1em;
      font-size: 0.9em;
      color: #7b4f27;
    }
    .timeline-entry a {
      text-decoration: none;
      color: #5b3924;
    }
    .timeline-entry a:hover {
      text-decoration: underline;
    }

    